ul {
    list-style-type: disc;
}

:is(dir, menu, ol, ul) ul {
    list-style-type: circle;
}

:is(dir, menu, ol, ul) :is(dir, menu, ol, ul) ul {
    list-style-type: square;
}

html, body {
    color: var(--van-doc-text-color-1);
    background: var(--van-background);
}
